<h1>User#sign_in</h1>

<%= form_tag '/sign_in' do %>

Email: <%= text_field_tag :email %><br>
Password: <%= password_field_tag :password %><br>
<%= submit_tag "Signin" %>

<%= link_to 'New User? Register Now!', '/sign_up' %>

<% end %>

<%= link_to "Home", '/' %>
