<h1>Home#index</h1>

<%= link_to "User", sign_in_get_user_path %>

<%= link_to "Department Official", sign_in_official_path %>

<%= link_to "Monkey Catcher", sign_in_catcher_path %>

<br><%= link_to "Safety Guidelines and Measures", guidelines_path %>

<br><%= link_to "Search complaints by location", location_search_path %>
